$daytime-bg: #E9F7FF;
$night-bg: #394653;
$dark-blue:#495A6A;
$mid-blue: #355BA5;
$water-blue: #88A5DE;
$white: #FBFBFB;
$orange: #F7AF02;

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

#logContainer {
    background-image: linear-gradient(180deg, $daytime-bg 0%, $white 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $dark-blue;
    }

    .island {
        position: fixed;
        bottom: 0;
        height: 40%;
        width: 100vw;
        @media screen and (max-width: 680px) {
            background-image: url('/assets/Beach-BG-M.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media screen and (min-width: 681px) {
            background-image: url('/assets/Beach-BG-LG.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

#logIn {
    background-color: $white;
    border: 1px $mid-blue solid;
    z-index: 1;
    max-width: 600px;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 4px $dark-blue;
    @media screen and (max-width: 680px) {
        width: 90%;
        height: 500px;
    }
    @media screen and (min-width: 681px) {
        width: 60%;
        height: 500px;
    }

    h2 {
        color: $dark-blue;
    }
}